body {
  margin: 0;
  padding: 0;
}

.BackgroundImg {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

@media (min-width: 650px) {
  .BackgroundImg {
    background-position: center center;
  }
}
